.avatar {
  position: relative;
  aspect-ratio: 1;
  border: 2px solid var(--ink);
  border-radius: 50%;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.xsmall {
  width: 2rem;
  font-size: 1rem;
}

.small {
  width: 2.5rem;
  font-size: 1.25rem;
}

.medium {
  width: clamp(3.25rem, 16vw, 4rem);
  font-size: 2rem;
}

.large {
  width: clamp(5.5rem, 26vw, 6.5rem);
  font-size: 3rem;
}
